@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;600&display=swap');

:root {
    --strong-red: #D74A49;
    --soft-red: #EAEAEA;
    --strong-blue: #1976D2;
    --soft-blue: #BBDEFB;
    --bg-color: #ffffff;
    --text-color: #333333;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }
  
  /* Apply to Components */
  body {
    background-color: var(--bg-color);
    color: var(--text-color);
  }
  


  
  
